[build]
  base = ""
  command = "rm -rf node_modules && npm install && npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "20"

[context.production]
  branch = "main"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
